@import "reset";

html, body{
    height: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}

header{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-image: url("../img/manos.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .jumbotron{
        background: rgba(255, 255, 255, 0.3);
        margin-top: 10%;
        border-radius: 5px;
        h1{
            text-align: center;
            color: #fff;
        }
        .btn{
            background: rgba(255, 255, 255, 0.5);
            border: none;
            border-color:none
        }
    }

    .sara{
        margin-top: 20px;
    }

    .card{
        background: rgba(255, 255, 255, 0.3);
        color: #fff;
        margin-bottom: 10px;
    }

    .redes{
        li{
        display: inline-block;
        padding-top: 20px;
        width: 80px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        box-sizing: border-box;
        transition: 0.5s;
        border-radius: 250%;
        margin: 10% 10px 0 0;
        background: rgba(255, 255, 255, 0.3);
            span {              
                color: white;
            }
        }
    }

    @media(max-width:1400px) {
        header{
            .jumbotron{
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }

    @media(max-width:620px) {
        header{
            .jumbotron{
                background: rgba(255, 255, 255, 0.3);
                margin-top: 20%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}