@import "reset";

html, body{
    height: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.navbar-light .navbar-brand {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

    hr{
        margin: 30px 0;
    }

header{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-image: url("../img/manos.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .jumbotron{
        background: rgba(255, 255, 255, 0.3);
        margin-top: 100px;
        border-radius: 5px;
        h1{
            text-align: center;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

        .about{
            text-align: center;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            margin-bottom: 10px;
        }

        .btn{
            color: #fff;
            background: rgba(255, 255, 255, 0.5);
            border: none;
            border-color:none
        }
        
    }    

    .sara{
        margin-top: 20px;
    }

    .card{
        background: rgba(255, 255, 255, 0.3);
        color: #fff;
        margin-bottom: 10px;
    }

    a:hover{
        text-decoration: none;
    }

    .redes{
        li{
        display: inline-block;
        padding-top: 20px;
        width: 80px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        box-sizing: border-box;
        transition: 0.5s;
        border-radius: 250%;
        margin: 30% 10px 20px 0;
        background: rgba(255, 255, 255, 0.3);
            span {              
                color: white;
            }
        }
    }

    strong{
        color: #fff;
        margin-bottom: 10px;
    }

    @media(max-width:1400px) {
        header{
            .jumbotron{
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }

    @media(max-width:620px) {
        header{
            .jumbotron{
                background: rgba(255, 255, 255, 0.3);
                margin-top: 20%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

.categ{
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
    .carousel{
        margin-top: 20px;
        h3{
            font-size: 30px;
            margin-bottom: 5px;
        }
        p{
            font-size: 12px;
        }
    }

    h1{
        font-size: 40px;
    }
    
    h4{
        margin-top: 30px;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .card{
        font-size: 20px;
        margin: 20px 0;
        p{
            font-size: 10px;
        }
    }

    .pincel{
        width: 80%;
        height: 500px;
    }
}

.contacto{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    h4{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .btn{
        background-color: #333;
        color: #fff;
    }

    .btn:hover{
        background: white;
        color: #333;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid rgba(5, 5, 5, 1);
        border-radius: 0;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}

footer{
    margin-bottom: 30px;
    
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    strong{
        color: #333;
    }

   .redes{
        li{
        display: inline-block;
        padding-top: 20px;
        width: 80px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        box-sizing: border-box;
        transition: 0.5s;
        border-radius: 250%;
        margin: 15% 10px 20px 0;
        background-color: #333;
            span {              
                color: white;
            }
        }
    }

    a:hover{
        text-decoration: none;
    }
}

